@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the reservation system</h1>
    <p>You are logged in as <strong>@User.Identity.Name</strong></p>
</div>
